name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore AgriProcurementPlatform/AgriProcurementPlatform.sln

      - name: Build
        run: dotnet build AgriProcurementPlatform/AgriProcurementPlatform.sln -c Release
